/* header styles */

/* header styles */

.wrapper {
    margin: 0 auto;
    max-width: 1140px;
    width: 80%;
}

header {
    padding: 40px 0;
    background-color: #6083ad;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    height: 100vh;
    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .description, h1, .toolTipContainer {
        margin-bottom: 30px;
    }
    .description {
        font-size: 2rem;
    }

    .toolTipContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            padding: 10px;
            display: flex;
            flex: 1 0 30%;
            min-width: 100px;
            align-items: center;
            border: 4px solid white;
            border-radius: 4px;
            margin: 10px;
            width: 40%;
            font-size: 1.5rem;
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            font-size: 3.5rem;
            margin-right: 10px;
    }
    }
    
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }

    p {
        a:visited {
            color: none;
        }
    }
    .startPotato {
        color: black;
        font-weight: 700;
        font-size: 2rem;
        background:  #fad7a0;
        padding: 20px;
        border-radius: 5px;
        border: none;
        transition: all 0.3s ease 0s;
    }

    .startPotato:hover, .startPotato:focus {
        scale: 1.1;
        background-color: #af601a ;
        color: white;
    }

}