

/* general styles */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

.toUpper {
    text-transform: uppercase;
}

main, .canvas, .partsContainer, .earsBin, .body, .eyesOnFace, .leftEarOnBody, .rightEarOnBody, .hatOnBody, .noseOnBody, .mouthOnBody, .mouth, .shoesOnBody, .hat, .hatsBin, .noseBin, .mouthBin, .eyesBin, .shoesBin, .shoe, .mouthPiece {
    display: flex;
}

.draggable-mirror {
    z-index: 1;
}


.mouthPiece {
    justify-content: center;
    align-items: center;
}

/* header styles */

header {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

/* main styles */

main {
    height: calc(100vh - 20px);

}

.dropzone {
    background-color: lightgrey;
    
}

.dropzone:hover{
    background-color: green;
}

.canvas, .availableParts {
    height: 100%;
    transition: all 0.4s;
}

.canvas {
    width: 100%;
}

.availableParts {
    width: 0%;
}

.openToolBox{
    width: 50%;
}

/* CANVAS styles */

.canvas {
    position: relative;
    
    background-image: url(../assets/backdrop.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;

    .toolbox {
        transition: all .6s;
        font-size: 3rem;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 5%;
        left: 5%;
        input[type="checkbox"] {
            /* This is much better than display none*/
            opacity: 0;
            position: fixed;
            width: 0;
        }
    }
    .toolbox :active, .toolbox:hover {
        background-color: black;
        color: white;
        scale: 1.1;
    }

    

    
}

.hide{
    display: none;
}

.body {
    .dropzone {
        background-color: transparent;
    }
    .dropzone:hover, .dropzone:focus {
        background-color: lightgreen;
    }
    @include makeEgg($bodyWidth, $bodyHeight, #db8336, 90px, 30px);
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    /* max-width: 310px;
    max-height: 390px; */

    /* arms styles  */

    .arms {
        position: absolute;
        width: $armsWidth;
        height: auto;
        top: calc(0.6 * #{$bodyHeight});
    }

    .leftArm {
        left: calc(-0.8 * #{$armsWidth});
    }

    .rightArm {
        right: calc(-0.8 * #{$armsWidth});
    }

    .hatOnBody, .eyesOnFace, .noseOnBody ,.mouthOnBody, .shoesOnBody, .leftEarOnBody, .rightEarOnBody, .leftShoeOnBody, .rightShoeOnBody{
        position: absolute;
    }
 
    .hatOnBody {
        top: calc(-0.2 * #{$bodyHeight});
        justify-content: center;
    }

    .eyesOnFace {
        justify-content: center;
        height: $eyeContainerHeight;
        top: calc(0.2 * #{$bodyHeight});
    }

    .rightEarOnBody {
        top: calc(0.2 * #{$bodyHeight});
        left: 85%;
        
    }

    .leftEarOnBody {
        top: calc(0.2 * #{$bodyHeight});
        right: 85%;
        
    }

    .noseOnBody {
        top: calc(0.41 * #{$bodyHeight});
    }

    .mouthOnBody {
        top: calc(0.67 * #{$bodyHeight});
    }

    .leftShoeOnBody, .rightShoeOnBody {
        top: calc(0.95 * #{$bodyHeight});
    }

    .leftShoeOnBody {
        left: 10%;
        transform: rotate(12deg);
    }

    .rightShoeOnBody {
        right: 10%;
        transform: rotate(-12deg);
    }


    
    /* body part dropzone styles  */

    .dropzone {
        background-color: none;
    }

}

.eye, .hat, .nose, .mouth, .shoe, .ear{
    position: relative;
} 

 /* SPACE  this class acts as an invisble space for other parts to swap with. WITHOUT IT SWAPPABLE CANNOT WORK */
.clearPart {
    width: 100%;
    height: 100%;
    opacity: 0;
}

 /* EYES  */

 
.eye {
    width: $eyeContainerWidth;
    height: $eyeContainerHeight;
}

.eyes1 {
    @include makeCircle($eyeWidth, $eyeHeight, white, 10px, 10px);
    top: 5px;
    left: 5px;
    border-top: 12px solid $eyeLid;
}
.eyes1:after {
        content: '';
        @include makeCircle($pupilWidth, $pupilHeight, $eyeBlack, 10px, 10px);
        top: 33%;
        left: 36%;
    }

.eyes1:before {
    content: '';
        @include makeRectangle($eyeWidth, $eyeBrowHeight, $eyeBlack, 10px, 10px);
        top: -65%;
        left: 0;
        border-radius: 5px;
}

.angledLeft::before {
    transform: rotate(15deg);
}

.angledRight::before {
    transform: rotate(-15deg);
}

    /* HATS  container*/

    .hat {
    width: $hatContainerWidth;
    height: $hatContainerHeight;
    }

    /* HATS  */

    .bowlerHat {
    @include makeSemiCircle($bowlerHatWidth, $bowlerHatHeight, #3d3d3d, 10px, 10px);
    top: 0;
    left: 0;
    border-bottom: calc(0.1 * #{$bodyWidth}) solid grey;
    margin-left: calc((#{$hatContainerWidth} - #{$bowlerHatWidth}) / 2);
    }

    .bowlerHat:after {
        content: '';
        @include makeRectangle($bowlerBrimWidth, $bowlerBrimHeight, #3d3d3d, 10px, 10px);
        left: 0;
        top: 120%;
        margin-left: calc((#{$bowlerBrimWidth} - #{$bowlerHatWidth}) / -2);
        border-radius: 50% 50% / 0% 0% 60% 60%;
    }
    
    /* NOSE container  */

    .nose {
        width: $noseContainerWidth;
        height: $noseContainerHeight;
    }

    /* NOSES */


    .nose1 {
    @include makeCircle($nose1Width, $nose1Height, #ff8c1a, 10px, 10px);
    top: 5px;
    left: 0;
    margin-left: calc((#{$noseContainerWidth} - #{$nose1Width}) / 2);
    }

    .nose1::before {
        content: '';
        @include makeCircle(calc(0.15 * #{$bodyWidth}), calc(0.6 * #{$nose1Height}), #ff8c1a, 10px, 10px);
        transform: rotate(45deg);
        top: 38%;
        left: -30%;
    }

    .nose1::after {
        content: '';
        @include makeCircle(calc(0.15 * #{$bodyWidth}), calc(0.6 * #{$nose1Height}), #ff8c1a, 10px, 10px);
        transform: rotate(-45deg);
        top: 38%;
        left: 50%;
    }
    

    /* EARS container */

    .ear {
        width: $earContainerWidth;
        height: $earContainerHeight;
    }

    /* EARS */
    .leftEar1, .rightEar1, .leftEar2, .rightEar2 {
    @include makeCircle($earWidth, $earHeight, pink, 10px, 10px);
    top: 5px;
    left: 0;
    margin-left: calc((#{$earContainerWidth} - #{$earWidth}) / 2);
    }

    .leftEar1::before, .leftEar2::before {
        content: '';
        @include makeCircle(calc(0.8 * #{$earWidth}), calc(0.8 * #{$earHeight}), salmon, 10px, 10px);
        top: 13%;
        left: 12%;
    }

    .rightEar1::before, .rightEar2::before {
        content: '';
        @include makeCircle(calc(0.8 * #{$earWidth}), calc(0.8 * #{$earHeight}), salmon, 10px, 10px);
        top: 13%;
        left: 8%;
    }

    .leftEar2::after {
        content: '';
        @include makeCircle(calc(0.4 * #{$earWidth}), calc(0.4 * #{$earWidth}), yellow, 10px, 10px);
        top: 70%;
        left: 30%;
    }

    .rightEar2::after {
        content: '';
        @include makeCircle(calc(0.4 * #{$earWidth}), calc(0.4 * #{$earWidth}), yellow, 10px, 10px);
        top: 70%;
        right: 30%;
    }

    /* MOUTH container  */

    .mouth {
        width: $mouthWidth;
        height: $mouthHeight;
        justify-content: center;
    }

    .loudMouth {
        @include makeRectangle($loudMouthWidth, $loudMouthHeight, red, 10px, 10px);
        transform: perspective(8px) rotateX(4deg);
        border-radius: 30%;
        top: 10%;
    }

    .loudMouth::after {
        content: '';
        @include makeRectangle(calc(0.85 * #{$loudMouthWidth}), calc(0.32 * #{$loudMouthWidth}), black, 10px, 10px);
        
        top: 15%;
        @include centerHorizontalToBody (calc(0.85 * #{$loudMouthWidth}));
        margin-left: calc(0.5 * 0.85 * #{$loudMouthWidth});
        background-color: black;
        border-top: 10px solid white;
        border-bottom: 6px solid white;
        border-radius: 27%;
    }

    .smileWithTeeth, .frownWithTeeth {
        @include makeSemiCircle($loudMouthWidth, $loudMouthHeight, white, 10px, 10px);
        transform: rotate(180deg);
        border: calc(0.07 * #{$loudMouthWidth}) solid red;
        top: 10%;
        border-bottom-left-radius: 13%;
        border-bottom-right-radius: 13%;
    }

    .frownWithTeeth {
        transform: rotate(0deg);
    }

    /* SHOES  container*/

    .shoe {
        justify-content: center;
        width: $shoeWidth;
        height: $shoeHeight;
    }

    /* SHOES */

    .runningShoe {
        @include makeRectangle($runningShoeWidth, $runningShoeHeight, #2d97e5, 10px, 10px);
        top: 0;
        transform: perspective(8px) rotateX(4deg);
        border-radius: 27% 27% 42% 47%;
        border-bottom: 4px solid darkblue;
    }

    .runningShoe::before {
        content: "";
        @include makeRectangle(calc(0.5 * #{$runningShoeWidth}), calc(0.12 * #{$runningShoeHeight}), #2d97e5, 10px, 10px);
        background-color: darkblue;
        top: 20%;
        left: calc(0.25 * #{$runningShoeWidth});
        border-radius: 9px;
    }

    .runningShoe::after {
        content: "";
        @include makeRectangle(calc(0.5 * #{$runningShoeWidth}), calc(0.12 * #{$runningShoeHeight}), #2d97e5, 10px, 10px);
        background-color: darkblue;
        top: 60%;
        left: calc(0.25 * #{$runningShoeWidth});
        border-radius: 9px;
    }
   
