

/* general styles */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

.toUpper {
    text-transform: uppercase;
}

main, .canvas, .partsContainer, .earsBin, .body, .eyesOnFace, .leftEarOnBody, .rightEarOnBody, .hatOnBody, .noseOnBody, .mouthOnBody, .mouth, .shoesOnBody, .hat, .hatsBin, .noseBin, .mouthBin, .eyesBin, .shoesBin, .shoe, .mouthPiece {
    display: flex;
}

.draggable-mirror {
    z-index: 1;
}


.mouthPiece {
    justify-content: center;
    align-items: center;
}

/* main styles */

main {
    height: calc(100vh);
}


.dropzone {
    background-color: lightgrey;
    
}

.dropzone:hover{
    background-color: green;
}

.canvas, .availableParts {
    height: 100%;
    transition: all 0.4s;
}

.canvas {
    width: 100%;
    position: relative
}

.availableParts {
    width: 0%;
}

.openToolBox{
    width: 50%;
}



/* CANVAS styles */

.canvas {
    position: relative;
    
    background-image: url(../assets/backdrop.jpg);
    background-position-y: 80%;
    background-size: cover;
    justify-content: center;
    align-items: center;

    .test {
        top: 5%;
        left: 5%;
    }

    .toolbox {
        transition: all .6s;
        font-size: 3rem;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 5%;
        left: 5%;
        input[type="checkbox"] {
            /* This is much better than display none*/
            opacity: 0;
            position: fixed;
            width: 0;
        }
    }
    .toolbox :active, .toolbox:hover {
        background-color: black;
        color: white;
        scale: 1.1;
    }

    

    
}

.hide{
    display: none;
}

.body {
    justify-content: center;
    .dropzone {
        background-color: transparent;
    }
    .dropzone:hover, .dropzone:focus {
        background-color: lightgreen;
    }
    @include makeEgg($bodyWidth, $bodyHeight, #db8336, 90px, 30px);
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    /* max-width: 310px;
    max-height: 390px; */

    /* arms styles  */

    .arms {
        position: absolute;
        width: $armsWidth;
        height: auto;
        top: calc(0.6 * #{$bodyHeight});
    }

    .leftArm {
        left: calc(-0.8 * #{$armsWidth});
    }


    @keyframes wave {
        0% , 50% {
            transform: rotate(0deg);
        }

        60% {
            transform: rotate(-75deg);
        }

        65% {
            transform: rotate(-55deg);
        }

        70% {
            transform: rotate(-75deg);
        }

        75% {
            transform: rotate(-55deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .rightArm {
        right: calc(-0.8 * #{$armsWidth});
        animation: wave 4s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
        transform-origin: top left;
    }

    @keyframes idle {
        0%  {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .leftArm {
        animation: idle 4s ease-out infinite;
        transform-origin: top right;
    }


    .hatOnBody, .eyesOnFace, .noseOnBody ,.mouthOnBody, .shoesOnBody, .leftEarOnBody, .rightEarOnBody, .leftShoeOnBody, .rightShoeOnBody{
        position: absolute;
    }
 
    .hatOnBody {
        top: calc(-0.2 * #{$bodyHeight});
        justify-content: center;
    }

    .eyesOnFace {
        justify-content: center;
        height: $eyeContainerHeight;
        top: calc(0.15 * #{$bodyHeight});
    }

    .rightEarOnBody {
        top: calc(0.2 * #{$bodyHeight});
        left: 85%;
        
    }

    .leftEarOnBody {
        top: calc(0.2 * #{$bodyHeight});
        right: 85%;
        
    }

    .noseOnBody {
        top: calc(0.41 * #{$bodyHeight});
    }

    .mouthOnBody {
        top: calc(0.67 * #{$bodyHeight});
    }

    .leftShoeOnBody, .rightShoeOnBody {
        top: calc(0.95 * #{$bodyHeight});
    }

    .leftShoeOnBody {
        left: 10%;
        transform: rotate(12deg);
    }

    .rightShoeOnBody {
        right: 10%;
        transform: rotate(-12deg);
    }


    
    /* body part dropzone styles  */

    .dropzone {
        background-color: none;
    }

}

.eye, .hat, .nose, .mouth, .shoe, .ear{
    position: relative;
} 

 /* SPACE  this class acts as an invisble space for other parts to swap with. WITHOUT IT SWAPPABLE CANNOT WORK */
.clearPart {
    width: 100%;
    height: 100%;
    opacity: 0;
}

 /* EYES  */

 
.eye {
    width: $eyeContainerWidth;
    height: $eyeContainerHeight;
    display: flex;
    justify-content: center;
}

.curvedBrow, .eyelash {
    @include makeCircle(calc(0.34 * 21.6vw), calc(0.2 * 21.6vw), transparent, 10px, 10px);
    left: -9%;
    top: 0;
    border: calc(0.05 * #{$bodyWidth}) solid #272727;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

@keyframes eyelashBlink {
    0% {
        top: 30%
    }

    80% {
        top: 30%
    }
    90% {
        top: 85%;
    }

    100% {
        top: 30%;
    }
}

.eyelashes {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: -4%;
    width: $eyeWidth;
    animation: eyelashBlink 4s ease-in-out infinite;
}



.eyelash {
width: calc(0.1 * 21.6vw);
height: calc(0.1 * 21.6vw);
position: static;
border-top: calc(0.02 * 21.6vw) solid #272727;
z-index: 20;
transform: rotate(40deg);
position: absolute;
}

.el1 {
    left: 0;
}

.el2 {
    left: 25%;
}

.el3 {
    left: 50%;
}

.rightEye .normalEye .eyelashes{
    left: 36%;
    .eyelash {
        transform: rotate(-40deg);
    }
}

.eyeBrowAngledLeft {
    transform: rotate(-14deg);
}
.eyeBrowAngledRight {
    transform: rotate(14deg);
}



.eyeBrow {
    @include makeRectangle($eyeWidth, $eyeBrowHeight, #272727, 10px, 10px);
    border-radius: 5px;
    top: 0;
    left: 10%;
}



@keyframes blinking {
    0% {
        top: -100%
    }

    80% {
        top: -100%
    }
    90% {
        top: -17%;
    }

    100% {
        top: -100%;
    }
}

.eyeLid {
    @include makeRectangle($eyeWidth, $eyeHeight, var(--preview-primary-eyes), 10px, 10px);
    top: -100%;
    animation: blinking 4s ease-in-out infinite;
}
.eyeShape {
    @include makeCircle($eyeWidth, $eyeWhiteHeight, white, 10px, 10px);
    overflow: hidden;
    position: absolute;
    left: 10%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.pupil {
        @include makeCircle($pupilWidth, $pupilHeight, var(--preview-accent-eyes), 10px, 10px);
        top: 33%;
        left: 36%;
    }



.angledLeft::before {
    transform: rotate(15deg);
}

.angledRight::before {
    transform: rotate(-15deg);
}

    /* HATS  container*/

    .hat {
    width: $hatContainerWidth;
    height: $hatContainerHeight;
    }

    /* HATS  */

    .flowerHatBase {
        @include makeSemiCircle($bowlerBrimWidth, $hatHeight, var(--preview-primary-hats), 10px, 10px);
        
        top: 0;
        margin-left: 5px;
        border-radius: calc(1.2 * #{$hatHeight}) calc(1.2 * #{$hatHeight}) 0 0;
        display: flex;
        justify-content: center;
    }

    @keyframes swirl {
        0% {transform: rotate(0)};
	    100% {transform: rotate(360deg)};
    }

    .flower {
        @include makeCircle(calc(0.4 * #{$nose1Height}), calc(0.4 * #{$nose1Height}), var(--default-primary-nose), 10px, 10px);
        border-radius: 50%;
        box-shadow:calc(0.05 * #{$bodyWidth}) calc(0.056 * #{$bodyWidth}) var(--preview-accent-hats),
        calc(-0.05 * #{$bodyWidth}) calc(0.056 * #{$bodyWidth}) var(--preview-accent-hats),
        calc(-0.073 * #{$bodyWidth}) calc(-0.023 * #{$bodyWidth}) var(--preview-accent-hats),
        0 calc(-0.073 * #{$bodyWidth}) var(--preview-accent-hats),
        calc(0.073 * #{$bodyWidth}) calc(-0.023 * #{$bodyWidth}) var(--preview-accent-hats);
        animation: swirl 12s infinite linear;
    }

    .bowlerHat {
    @include makeSemiCircle($bowlerHatWidth, $bowlerHatHeight, var(--preview-primary-hats), 10px, 10px);
    top: 0;
    left: 0;
    border-bottom: calc(0.1 * #{$bodyWidth}) solid var(--preview-accent-hats);
    margin-left: calc((#{$hatContainerWidth} - #{$bowlerHatWidth}) / 2);
    }

    .bowlerHat:after {
        content: '';
        @include makeRectangle($bowlerBrimWidth, $bowlerBrimHeight, var(--preview-primary-hats), 10px, 10px);
        left: 0;
        top: 120%;
        margin-left: calc((#{$bowlerBrimWidth} - #{$bowlerHatWidth}) / -2);
        border-radius: 50% 50% / 0% 0% 60% 60%;
    }
    
    /* NOSE container  */

    .nose {
        width: $noseContainerWidth;
        height: $noseContainerHeight;
    }

    /* NOSES */


    .nose1 {
    @include makeCircle($nose1Width, $nose1Height, var(--preview-primary-nose), 10px, 10px);
    top: 5px;
    left: 0;
    margin-left: calc((#{$noseContainerWidth} - #{$nose1Width}) / 2);
    }

    .nose1::before {
        content: '';
        @include makeCircle(calc(0.15 * #{$bodyWidth}), calc(0.6 * #{$nose1Height}), var(--preview-primary-nose), 10px, 10px);
        transform: rotate(45deg);
        top: 38%;
        left: -30%;
    }

    .nose1::after {
        content: '';
        @include makeCircle(calc(0.15 * #{$bodyWidth}), calc(0.6 * #{$nose1Height}), var(--preview-primary-nose), 10px, 10px);
        transform: rotate(-45deg);
        top: 38%;
        left: 50%;
    }
    

    /* EARS container */

    .ear {
        width: $earContainerWidth;
        height: $earContainerHeight;
    }

    /* EARS */
    .leftEar1, .rightEar1, .leftEar2, .rightEar2 {
    @include makeCircle($earWidth, $earHeight, var(--preview-primary-ears), 10px, 10px);
    
    top: 5px;
    left: 0;
    margin-left: calc((#{$earContainerWidth} - #{$earWidth}) / 2);
    }

    .leftEar1::before, .leftEar2::before {
        content: '';
        @include makeCircle(calc(0.8 * #{$earWidth}), calc(0.8 * #{$earHeight}), var(--preview-primary-ears), 10px, 10px);
        filter: brightness(80%);
        top: 13%;
        left: 12%;
    }

    .rightEar1::before, .rightEar2::before {
        content: '';
        @include makeCircle(calc(0.8 * #{$earWidth}), calc(0.8 * #{$earHeight}), var(--preview-primary-ears), 10px, 10px);
        filter: brightness(80%);
        top: 13%;
        left: 8%;
    }

    .leftEar2::after {
        content: '';
        @include makeCircle(calc(0.4 * #{$earWidth}), calc(0.4 * #{$earWidth}), var(--preview-accent-ears), 10px, 10px);
        top: 70%;
        left: 30%;
    }

    .rightEar2::after {
        content: '';
        @include makeCircle(calc(0.4 * #{$earWidth}), calc(0.4 * #{$earWidth}), var(--preview-accent-ears), 10px, 10px);
        top: 70%;
        right: 30%;
    }

    /* MOUTH container  */

    .mouth {
        width: $mouthWidth;
        height: $mouthHeight;
        justify-content: center;
    }

    .loudMouth {
        @include makeRectangle($loudMouthWidth, $loudMouthHeight, var(--preview-primary-mouth), 10px, 10px);
        transform: perspective(8px) rotateX(4deg);
        border-radius: 30%;
        top: 10%;
    }

    @keyframes talking {
    0% {
        border-top: calc(0.12 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
        border-bottom: calc(0.07 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
    }

    50% {
        border-top: calc(0.12 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
        border-bottom: calc(0.07 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
    }
    75% {
        border-top: calc(0.16 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
        border-bottom: calc(0.19 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
    }

    100% {
        border-top: calc(0.12 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
        border-bottom: calc(0.07 * calc(0.6 * 21.6vw)) solid var(--preview-accent-mouth);
    }
}

    .loudMouth::after {
        content: '';
        @include makeRectangle(calc(0.85 * #{$loudMouthWidth}), calc(0.32 * #{$loudMouthWidth}), black, 10px, 10px);
        
        top: 15%;
        @include centerHorizontalToBody (calc(0.85 * #{$loudMouthWidth}));
        margin-left: calc(0.5 * 0.85 * #{$loudMouthWidth});
        background-color: black;
        border-top: calc(0.12 * #{$loudMouthWidth}) solid var(--preview-accent-mouth);
        border-bottom: calc(0.07 * #{$loudMouthWidth}) solid var(--preview-accent-mouth);
        border-radius: 27%;
        animation: talking 0.5s ease-in-out infinite;
    }

    @keyframes mouthMove {
    0% {
        width: calc(0.6 * 21.6vw);
        height: calc(0.25 * 21.6vw);
    }

    50% {
        width: calc(0.6 * 21.6vw);
        height: calc(0.25 * 21.6vw);
    }
    75% {
        width: calc(0.8 * 21.6vw);
        height: calc(0.2 * 21.6vw);
    }

    100% {
        width: calc(0.6 * 21.6vw);
        height: calc(0.25 * 21.6vw);
    }
}
    
    .smileWithTeeth, .frownWithTeeth {
        @include makeSemiCircle($loudMouthWidth, $loudMouthHeight, var(--preview-accent-mouth), 10px, 10px);
        transform: rotate(180deg);
        border: calc(0.07 * #{$loudMouthWidth}) solid var(--preview-primary-mouth);
        top: 10%;
        border-bottom-left-radius: 13%;
        border-bottom-right-radius: 13%;
        animation: mouthMove 6s ease-in-out infinite;
    }

    .frownWithTeeth {
        transform: rotate(0deg);
    }

    /* SHOES  container*/

    .shoe {
        justify-content: center;
        width: $shoeWidth;
        height: $shoeHeight;
    }

    /* SHOES */

    .runningShoe {
        @include makeRectangle($runningShoeWidth, $runningShoeHeight, var(--preview-primary-shoes), 10px, 10px);
        top: 0;
        transform: perspective(8px) rotateX(4deg);
        border-radius: 27% 27% 42% 47%;
        border-bottom: 4px solid var(--preview-accent-shoes);
    }

    .runningShoe::before {
        content: "";
        @include makeRectangle(calc(0.5 * #{$runningShoeWidth}), calc(0.12 * #{$runningShoeHeight}), var(--preview-accent-shoes), 10px, 10px);
        top: 20%;
        left: calc(0.25 * #{$runningShoeWidth});
        border-radius: 9px;
    }

    .runningShoe::after {
        content: "";
        @include makeRectangle(calc(0.5 * #{$runningShoeWidth}), calc(0.12 * #{$runningShoeHeight}), var(--preview-accent-shoes), 10px, 10px);
        top: 60%;
        left: calc(0.25 * #{$runningShoeWidth});
        border-radius: 9px;
    }
   
