@media (max-width: 600px) {
    :root {
        --base-width: 38.88vw; 
    --base-height: 54.72vw;
    }

    .paintOptions{
        min-width: 25px;
        min-height: 25px;
        max-width: 37.05px;
        max-height: 37.05px;
    }
    
    main {
        flex-direction: column;
        .canvas, .availableParts {
            width: 100%;
        }
        .canvas {
            
            background-position-y: 130%;
            background-repeat: repeat;
        }

        .canvas {
            height: 100%;
            }

        .availableParts {
            height: 0%;
            }
        
        .openToolBox{
        height: 50%;
        }
    }
}

@media (max-width: 420px) {
    .paintOptions{
        min-width: 15px;
        min-height: 15px;
        max-width: 30px;
        max-height: 30px;
    }
}