@media (max-width: 600px) {
    $bodyWidth: 33.75vw; 
    $bodyHeight: 47.5vw;
    main {
        flex-direction: column;
        .canvas, .availableParts {
            width: 100%;
        }
        .canvas {
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .canvas {
            height: 100%;
            }

        .availableParts {
            height: 0%;
            }
        
        .openToolBox{
        height: 50%;
        }
    }
}