
/* PARTS styles */

.availableParts {
    overflow: hidden;
    flex-direction: column;
    background-image: url(../assets/wood-pattern.png);
        background-repeat: repeat;
        background-color: #d1a558;
    .optionsContainer {
        height: 25%;
        min-height: 100px;

        

        label {
            flex: 1 0 60px;
            text-align: center;
            font-size: 3rem;
            height: 100%;
        }
        label:hover, label:focus{
            background-color: skyblue;
        }
        input[type="radio"]:checked + label{
            background-color: yellow;
        }
    }

    /* drawer styles */

    .drawer {
        background-image: url(../assets/wood-pattern.png);
        background-repeat: repeat;
        height: 100%;
         width: 100%;
        transition: all 0.5s ease-in-out;
        position: absolute;
        top: 0;
        background-color: black;
    }

    .pulledOut {
        top: 100%;
    }


    .partsContainer {
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        height: 80%;
        align-items: center;
        
        
        .currentPart {
            background-image: url(../assets/wood-pattern-horizontal.png);
            background-color: #a6842e;
            background-repeat: repeat;
            -webkit-box-shadow: inset 0px 0px 63px 9px #000000;
            box-shadow: inset 0px 0px 63px 9px #000;
            width: 90%;
            height: 90%;
            border-radius: 10px; 

            .paintBin {
                background-color: blue;
            }

            .partBin {
            width: 90%;
            height: 90%;
            overflow: auto;
            flex-wrap: wrap;
            }
        }

        .hatsBin, .eyesBin, .mouthBin, .noseBin, .earBin {
            justify-content: center;
            height: 100%;
        }
        
    }
}

//paintBin




    

/* BRAND NEW MENU START */
/* JUST CENETERING */
 .partCustomizer, .partPicker, .primaryColor,.secondaryColor , .next, .previous, .currentPart{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    /*This styling was created by FELIPE MARCOS from this codepen: https://codepen.io/FelipeMarcos/pen/tfhEg*/
    
	display: inline-block;
	color: white;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
    white-space: nowrap;
    text-decoration: none;

background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}

button:active {
    transform: translateY(9px);
    box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.menuContainer {
    
    display: flex;
    width: 100%;
    height: 20%;

    .previous, .next {
        width: 25%;
        button {
            width: 50px;
            height: 50px;

        }
    }

    .partGUI {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
         .partCustomizer {
            height: 100%;
            width: 100%;
        }

        .partCustomizer {
            justify-content: space-evenly;
        }

        .partCustomizer li{
            display: flex;
            
            .partPicker, .primaryColor, .secondaryColor {
                margin: 5px;
            }
            .partPicker {
                width: calc(0.6 * #{$bodyWidth});
                height: calc(0.3 * #{$bodyWidth});
                max-width: 60px;
                max-height: 35px;
            }
            
            .primaryColor,.secondaryColor {
                width: calc(0.23 * #{$bodyWidth});
                height: calc(0.23 * #{$bodyWidth});
                max-width: 35px;
                max-height: 35px;
                border-radius: 50%;
            }
        } /* partsCustomizer end */
    } /* parts GUI end */
    
}

.paintBin {
            background-color: blue;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .colorPalette {
                input[type="radio"] {
            /* dont put display none or else not focusable */
            opacity: 0;
            position: fixed;
            width: 0;
            }
                label, button {
            height: 35px;
            width: calc(25% - 10px);
            margin: 5px;
                } 
            }
        

        .brightness {
            color: yellow;
            background-color: grey;
        }

        #black {
            background-color: black;
        }

        #white {
            background-color: white;
        }

        #red {
            background-color: #ff0000;
        }

        #brown {
            background-color: brown;
        }

        #orange {
            background-color: #ff7f00;
        }

        #yellow {
            background-color: #ffff00;
        }

        #chartreuseGreen {
            background-color: #7fff00;
        }

        #green {
            background-color: #00ff00;
        }

        #springGreen {
            background-color: #00ff7f;
        }

        #cyan {
            background-color: #00ffff;
        }

        #azure {
            background-color: #007fff;
        }

        #blue {
            background-color: #0000ff;
        }

        #violet {
            background-color: #7f00ff;
        }

        #magenta {
            background-color: #ff00ff;
        }

        #rose {
            background-color: #ff007f;
        }
        }

.hide {
    display: none;
}