
/* PARTS styles */

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    flex-wrap: wrap;
    margin-top: 10%;
    height: 80%;
}
.availableParts {
    overflow: hidden;
    flex-direction: column;
    background-image: url(../assets/wood-pattern.png);
        background-repeat: repeat;
        background-color: #d1a558;


    .partsContainer {
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        height: 80%;
        align-items: center;
        
        
        .currentPart {
            background-image: url(../assets/wood-pattern-horizontal.png);
            background-color: #a6842e;
            background-repeat: repeat;
            -webkit-box-shadow: inset 0px 0px 63px 9px #000000;
            box-shadow: inset 0px 0px 63px 9px #000;
            width: 90%;
            height: 90%;
            border-radius: 10px; 

            h2 {
                text-align: center;
                font-size: 3rem;
                color: white;
                font-weight: bold;
            }

            .paintBin {
                
            }

            .partBin {
            width: 90%;
            height: 90%;
            overflow: auto;
            flex-direction: column;
            }
        }

        .hatsBin, .eyesBin, .mouthBin, .noseBin, .earsBin {
            justify-content: start;
            height: 100%;
        }
        
    }
}

//paintBin

.paintToolsPrimary {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 1px black inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 black,
        0 8px 0 1px rgba(0,0,0,0.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}

.paintToolsAccent {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 1px white inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 white,
        0 8px 0 1px rgba(0,0,0,0.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
}



    

/* BRAND NEW MENU START */
/* JUST CENETERING */
 .partCustomizer, .partPicker, .primaryColor,.secondaryColor , .next, .previous, .currentPart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paintButton {
    font-size: 2.5rem;
}

.next, .previous {
    font-size: 3rem;
}

.hslColors, .defaultColor, .undo, .setColor, .accent {
    font-size: 2rem;
}

button {
    /*This styling was created by FELIPE MARCOS from this codepen: https://codepen.io/FelipeMarcos/pen/tfhEg*/
    
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
	border-radius: 6px;
	text-align: center;
	transition: top .01s linear;
    white-space: nowrap;
    text-decoration: none;

background-color: #e74c3c;
	box-shadow: 0 0 0 1px #c63702 inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 #C24032,
        0 8px 0 1px rgba(0,0,0,0.4),
				0 8px 8px 1px rgba(0,0,0,0.5);
}

button:active {
    transform: translateY(9px);
    box-shadow: 0 0 0 1px #c63702 inset,
				0 0 0 2px rgba(255,255,255,0.15) inset,
				0 0 0 1px rgba(0,0,0,0.4);
}

.disabled {
    background-color: grey;
	box-shadow: 0 0 0 1px grey inset,
        0 0 0 2px rgba(255,255,255,0.15) inset,
        0 8px 0 0 grey,
        0 8px 0 1px rgba(0,0,0,0.4),
                0 8px 8px 1px rgba(0,0,0,0.5);
    pointer-events: none;
    cursor: not-allowed;
}

.menuContainer {
    
    display: flex;
    width: 100%;
    height: 20%;

    .previous, .next {
        width: 25%;
        button {
            width: 50px;
            height: 50px;

        }
    }

    .partPainter {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
         .partCustomizer {
            height: 100%;
            width: 100%;
        }
            
            .primaryColor {
                margin: 5px;
            }
            .paintButton{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        
    } 
    
}

.rainBowBar {
                position: absolute;
                display: flex;
                background-color: black;
                width: 100%;
                height: 25px;
                top: 0;
            }

.paintBin {
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            justify-items: center;
            grid-gap: 1fr;
            width: 100%;
            height: 100%;
            
            .paintOptions {
                margin: 10px;
                width: calc(0.275 * #{$bodyWidth});
                height: calc(0.275 * #{$bodyWidth});
                padding: 0;
                .colorWheel {
                    background-color: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
                    width: 85%;
                    height: 85%;
                    border-radius: 50%;
                }
            }
        
            
        .hslField {
            .hueBar {
                position: relative;
                
            }
            margin: auto;
            width: 90%;
            color: white;
            font-size: 1.5rem;
            grid-column-start: span 5;
            input {
                height: 10px;
                width: 100%;
                -webkit-appearance: none;
                border-radius: 7px;
                outline: none;
            }
            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--current-hue);
                cursor: pointer;
            }
            input::-moz-range-thumb {
                -webkit-appearance: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--current-hue);
                cursor: pointer;
            }
            
            #hslColorValue::-webkit-slider-thumb {
                background-color: var(--current-hue);
            }
            #hslColorValue::-moz-range-thumb {
                background-color: var(--current-hue);
            }

            #brightness::-webkit-slider-thumb {
                background-color: var(--current-brightness);
            }
            #brightness::-moz-range-thumb {
                background-color: var(--current-brightness);
            }

            #saturation::-webkit-slider-thumb {
                background-color: var(--current-saturation);
            }
            #saturation::-moz-range-thumb {
                background-color: var(--current-saturation);
            }
        }

        #black {
            background-color: black;
        }

        #grey {
            background-color: grey;
        }

        #white {
            background-color: white;
        }

        #red {
            background-color: #ff0000;
        }

        #brown {
            background-color: #b06523;
        }

        #orange {
            background-color: #ff7f00;
        }

        #yellow {
            background-color: #ffff00;
        }

        #chartGreen {
            background-color: #7fff00;
        }

        #green {
            background-color: #00ff00;
        }

        #springGreen {
            background-color: #00ff7f;
        }

        #cyan {
            background-color: #00ffff;
        }

        #azure {
            background-color: #007fff;
        }

        #blue {
            background-color: #0000ff;
        }

        #violet {
            background-color: #7f00ff;
        }

        #magenta {
            background-color: #ff00ff;
        }
        }

.hide {
    display: none;
}