
@mixin makeRectangle($width, $height, $color, $top ,$left) {
    width: $width;
    height: $height;
    background-color: $color;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
    left: calc(50% - (#{$height} / 2));
}

@mixin makeCircle ($width, $height, $color, $top, $left){
    @include makeRectangle($width, $height, $color, $top, $left );
    border-radius: 50%;
}

@mixin makeSemiCircle ($width, $height, $color, $top, $left){
    @include makeCircle($width, $height, $color, $top, $left );
    border-radius: 50% 50% 0 0;
}

@mixin makeEgg ($width, $height, $color, $top, $left) {
    @include makeRectangle($width, $height, $color, $top, $left );
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

@mixin centerHorizontalToBody ($partWidth) {
    left: calc(50% - (#{$partWidth}));
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

$masterWidth: 310px; 
$masterHeight: 390px;

$ratioForMin: 0.52;
$ratioForMax: 1.5;

/* body WIDTH min max values*/
$minBodyWidth: calc(#{$masterWidth} * #{$ratioForMin});
$maxBodyWidth: calc(#{$masterWidth} * #{$ratioForMax});

/* body HEIGHT min max values*/

$minBodyHeight: calc(#{$masterHeight} * #{$ratioForMin});
$maxBodyHeight: calc(#{$masterHeight} * #{$ratioForMax});

/* device min max values for iphone 4*/

$minDeviceWidth: 320px;
$minDeviceHeight: 480px;

/* desktop min max values*/

$maxDeviceWidth: 1920px;
$maxDeviceHeight: 1080px;

 $bodyWidth: $masterWidth; 
 $bodyHeight: $masterHeight;

 /*
$bodyWidth: calc(#{$minBodyWidth} + (#{$maxBodyWidth} - #{$minBodyWidth}) * ((100vw -  #{$minDeviceWidth}) / (#{$maxDeviceWidth} - #{$minDeviceWidth})));

$bodyHeight: calc(#{$minBodyHeight} + (#{$maxBodyHeight} - #{$minBodyHeight}) * ((100vw - #{$minDeviceHeight}) / (#{$maxDeviceHeight} - #{$minDeviceHeight})));
*/




$eyeWidth: calc(0.24 * #{$bodyWidth});
$pupilWidth: calc(0.2 * #{$eyeWidth});
$eyeContainerWidth: calc( #{$eyeWidth} + 10px);

$armsWidth: calc(0.35 * #{$bodyWidth})
