
@mixin makeRectangle($width, $height, $color, $top ,$left) {
    width: $width;
    height: $height;
    background-color: $color;
    position: absolute;

    top: calc(50% - (#{$width} / 2));
    left: calc(50% - (#{$height} / 2));
}

@mixin makeCircle ($width, $height, $color, $top, $left){
    @include makeRectangle($width, $height, $color, $top, $left );
    border-radius: 50%;
}

@mixin makeSemiCircle ($width, $height, $color, $top, $left){
    @include makeCircle($width, $height, $color, $top, $left );
    border-radius: 50% 50% 0 0;
}

@mixin makeUpsideDownSemiCircle ($width, $height, $color, $top, $left){
    @include makeCircle($width, $height, $color, $top, $left );
    border-radius: 0 0 50% 50%;
}

@mixin makeEgg ($width, $height, $color, $top, $left) {
    @include makeRectangle($width, $height, $color, $top, $left );
    border-radius: 50% 50% 50% 50%/80% 80% 25% 25%;

    /*ORIGINAL border-radius: 50% 50% 50% 50%/60% 60% 40% 40%; */
}

@mixin centerHorizontalToBody ($partWidth) {
    left: calc(50% - (#{$partWidth}));
}



/* ORIGINAL VALUES $masterWidth: 310px; 
$masterHeight: 390px; */

$masterWidth: 270px; 
$masterHeight: 380px;

$ratioForMin: 0.52;
$ratioForMax: 1.5;

/* body WIDTH min max values*/
$minBodyWidth: calc(#{$masterWidth} * #{$ratioForMin});
$maxBodyWidth: calc(#{$masterWidth} * #{$ratioForMax});

/* unitless body WIDTH min max values*/

$minBodyWidthNoUnit: 135;
$maxBodyWidthNoUnit: 405;

/* body HEIGHT min max values*/

$minBodyHeight: calc(#{$masterHeight} * #{$ratioForMin});
$maxBodyHeight: calc(#{$masterHeight} * #{$ratioForMax});

/* unitless body HEIGHT min max values*/

$minBodyHeightNoUnit: 190;
$maxBodyHeightNoUnit: 570;

/* device min max values for iphone 4*/

$minDeviceWidth: 320px;
$minDeviceHeight: 480px;

/* unitless device min max values for iphone 4*/

$minDeviceWidthNoUnit: 320;
$minDeviceHeightNoUnit: 480;

/* desktop min max values*/

$maxDeviceWidth: 1920px;
$maxDeviceHeight: 1080px;

/* unitless device min max values*/

$maxDeviceWidthNoUnit: 1920;
$maxDeviceHeightNoUnit: 1080;

$bodyWidth: 21.6vw; 
$bodyHeight: 30.4vw;



/*
$bodyWidth: calc(#{$minBodyWidth} + (#{$maxBodyWidthNoUnit} - #{$minBodyWidthNoUnit}) * ((100vw -  #{$minDeviceWidth}) / (1920 - 320)));

$bodyHeight: calc(#{$minBodyHeight} + (#{$maxBodyHeightNoUnit} - #{$minBodyHeightNoUnit}) * ((100vh - #{$minDeviceHeight}) / (#{$maxDeviceHeightNoUnit} - #{$minDeviceHeightNoUnit})));
*/





$eyeWidth: calc(0.24 * #{$bodyWidth});
$eyeHeight: calc(0.33 * #{$bodyWidth});
$pupilWidth: calc(0.3 * #{$eyeWidth});
$pupilHeight: calc(0.4 * #{$eyeWidth});
$eyeContainerWidth: calc( #{$eyeWidth} + 10px);
$eyeContainerHeight: calc( #{$eyeHeight} + 10px);

$eyeLid: #b06523;

$armsWidth: calc(0.35 * #{$bodyWidth});


$hatWidth: calc(0.8 * #{$bodyWidth});
$hatHeight: calc(0.4 * #{$bodyWidth});

$bowlerHatWidth: calc(0.6 * #{$bodyWidth});
$bowlerHatHeight: calc(0.35 * #{$bodyWidth});
$bowlerBrimWidth: calc(0.8 * #{$bodyWidth});
$bowlerBrimHeight: calc(0.1 * #{$bodyWidth});

$hatContainerWidth: calc(#{$hatWidth} + 10px);
$hatContainerHeight: calc(#{$hatHeight} + 10px);

$noseWidth: calc(0.4 * #{$bodyWidth});
$noseHeight: calc(0.35 * #{$bodyWidth});

$nose1Width: calc(0.2 * #{$bodyWidth});
$nose1Height: calc(0.33 * #{$bodyWidth});

$noseContainerWidth: calc(#{$noseWidth} + 10px);
$noseContainerHeight: calc(#{$noseHeight} + 10px);

$mouthWidth: calc(0.85 * #{$bodyWidth});
$mouthHeight: calc(0.4 * #{$bodyWidth});
$mouthContainerWidth: calc(#{$mouthWidth} + 10px);
$mouthContainerHeight: calc(#{$mouthHeight} + 10px);

$shoeWidth: calc(0.35 * #{$bodyWidth});
$shoeHeight: calc(0.25 * #{$bodyWidth});
$shoeContainerWidth: calc( #{$shoeWidth} + 10px);
$shoeContainerHeight: calc( #{$shoeHeight} + 10px);

