@import 'variables';
@import 'setup';


/* general styles */

* {
    border: 2px solid lime;
    transition: all 0.1s;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

main, .eyesOnFace, .canvas, .availableParts, .optionsContainer, .eyesBin, .partsContainer {
    display: flex;
}
/* header styles */

header {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

/* main styles */

main {
    height: calc(100vh - 20px);

}

.dropzone {
    background-color: pink;
}

.dropzone:hover{
    background-color: green;
}

.canvas, .availableParts {
    width: 50%;
    height: 100%;
}

/* CANVAS styles */

.canvas {
    position: relative;
    background-color: ivory;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.body {
    @include makeEgg($bodyWidth, $bodyHeight, #db8336, 90px, 30px);
    position: relative;
    top: 0;
    left: 0;
    /* max-width: 310px;
    max-height: 390px; */

    /* arms styles  */

    .arms {
        position: absolute;
        width: $armsWidth;
        height: auto;
        top: calc(0.6 * #{$bodyHeight});
    }

    .leftArm {
        left: calc(-0.8 * #{$armsWidth});
    }

    .rightArm {
        right: calc(-0.8 * #{$armsWidth});
    }

    /* body part dropzone styles  */
    .eye {
        top: calc(0.23 * #{$bodyHeight});
        left: calc(50% - (#{$eyeContainerWidth}));
    }

    .dropzone {
        background-color: none;
    }

}

.eye {
    position: relative;
    width: $eyeContainerWidth;
    height: $eyeContainerHeight;
    
}

.eyes1 {
    @include makeCircle($eyeWidth, $eyeHeight, white, 10px, 10px);
    top: 5px;
    left: 5px;
    border-top: 12px solid $eyeLid;
}
.eyes1:after {
        content: '';
        @include makeCircle($pupilWidth, $pupilHeight, black, 10px, 10px);
        top: 33%;
        left: 36%;
    }

/* PARTS styles */

.availableParts {
    background-color: slategrey;
    flex-direction: column;
    .optionsContainer {
        background-color: goldenrod;
        height: 25%;
        min-height: 100px;

        input[type="radio"] {
             /* dont put display none or else not focusable */
            opacity: 0;
            position: fixed;
            width: 0;
        }

        label {
            flex: 1 0 60px;
            text-align: center;
            font-size: 3rem;
            height: 100%;
        }
        label:hover, label:focus{
            background-color: skyblue;
        }
        input[type="radio"]:checked + label{
            background-color: yellow;
        }
    }

    .partsContainer {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.optionsContainer {

    
}