@import 'variables';
@import 'setup';


/* general styles */

* {
    border: 2px solid lime;
    transition: all 0.1s;
}

html {
    font-size: 62.5%;
}

main, .eyesOnFace {
    display: flex;
}

img {
    max-width: 100%;
}
/* header styles */

header {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
}

/* header styles */

main {
    background-color: blue;
    height: calc(100vh - 20px);

}

.canvas, .partsContainer {
    width: 50%;
    height: 100%;
}

.partsContainer {
    background-color: slategrey;
}

.canvas {
    position: relative;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}



.body {
    @include makeEgg($bodyWidth, $bodyHeight, #db8336, 90px, 30px);
    position: relative;
    top: 0;
    left: 0;
    max-width: 310px;
    max-height: 390px;

    /* arms styles  */

    .arms {
        position: absolute;
        width: $armsWidth;
        height: auto;
        top: calc(0.25 * #{$bodyHeight});
    }

    .leftArm {
        left: calc(-0.6 * #{$armsWidth});
    }

    .rightArm {
        right: calc(-0.6 * #{$armsWidth});
    }

    /* body part dropzone styles  */
    .eye {
        top: calc(0.23 * #{$bodyHeight});
        left: calc(50% - (#{$eyeContainerWidth}));
    }

}

.dropzone {
    background-color: pink;
}

.dropzone:hover{
    background-color: green;
}

.eye {
    position: relative;
    width: $eyeContainerWidth;
    height: $eyeContainerWidth;
    
}

.eyes1 {
    @include makeCircle($eyeWidth, $eyeWidth, white, 10px, 10px);
}
.eyes1:after {
        content: '';
        @include makeCircle($pupilWidth, $pupilWidth, black, 10px, 10px);
    }