/* CSS color variables  */
:root {
  /* base size */
  --base-width: 21.6vw;
  --base-height: 30.4vw;
  /* base colours */
  --base-black: #3d3d3d;
  --base-grey: grey;
  --base-white: white;
  --base-red: #ff0000;
  --base-brown: brown;
  --base-orange: #ff7f00;
  --base-yellow: #ffff00;
  --base-chartGreen: #7fff00;
  --base-green: #00ff00;
  --base-springGreen: #00ff7f;
  --base-cyan: #00ffff;
  --base-azure: #007fff;
  --base-blue: #0000ff;
  --base-violet: #7f00ff;
  --base-magenta: #ff00ff;
  --current-black: #3d3d3d;
  --current-grey: grey;
  --current-white: white;
  --current-red: #ff0000;
  --current-brown: #b06523;
  --current-orange: #ff7f00;
  --current-yellow: #ffff00;
  --current-chartGreen: #7fff00;
  --current-green: #00ff00;
  --current-springGreen: #00ff7f;
  --current-cyan: #00ffff;
  --current-azure: #007fff;
  --current-blue: #0000ff;
  --current-violet: #7f00ff;
  --current-magenta: #ff00ff;
  --current-hue: hsl(0,100%,50%);
  --current-brightness: hsl(0,100%,50%);
  --current-saturation: hsl(0,100%,50%);
  /* Component Variables */
  /* HATS */
  --default-primary-hats: #3d3d3d;
  --default-accent-hats:  grey;
  --custom-primary-hats: var(--default-primary-hats);
  --custom-accent-hats: var(--default-accent-hats);
  --preview-primary-hats: var(--default-primary-hats);
  --preview-accent-hats: var(--default-accent-hats);
  /* SHOES */
  --default-primary-shoes: #2d97e5;
  --default-accent-shoes:  darkBlue;
  --custom-primary-shoes: var(--default-primary-shoes);
  --custom-accent-shoes: var(--default-accent-shoes);
  --preview-primary-shoes: var(--default-primary-shoes);
  --preview-accent-shoes: var(--default-accent-shoes);
  /* EYES */
  --default-primary-eyes: #b06523;
  --default-accent-eyes:  #272727;
  --custom-primary-eyes: var(--default-primary-eyes);
  --custom-accent-eyes: var(--default-accent-eyes);
  --preview-primary-eyes: var(--default-primary-eyes);
  --preview-accent-eyes: var(--default-accent-eyes);
  /* NOSE */
  --default-primary-nose: #ff8c1a;
  --default-accent-nose:  #272727;
  --custom-primary-nose: var(--default-primary-nose);
  --custom-accent-nose: var(--default-accent-nose);
  --preview-primary-nose: var(--default-primary-nose);
  --preview-accent-nose: var(--default-accent-nose);
  /* EARS */
  --default-primary-ears: pink;
  --default-accent-ears:  yellow;
  --custom-primary-ears: var(--default-primary-ears);
  --custom-accent-ears: var(--default-accent-ears);
  --preview-primary-ears: var(--default-primary-ears);
  --preview-accent-ears: var(--default-accent-ears);
  /* MOUTH */
  --default-primary-mouth: red;
  --default-accent-mouth:  white;
  --custom-primary-mouth: var(--default-primary-mouth);
  --custom-accent-mouth: var(--default-accent-mouth);
  --preview-primary-mouth: var(--default-primary-mouth);
  --preview-accent-mouth: var(--default-accent-mouth);
}

/* original values WIDTH: 27vw HEIGHT: 38vw  */
/* original values WIDTH: 0.24 HEIGHT: 0.33  */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* header styles */
header {
  height: 100vh;
  background-color: azure;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 4rem;
}

header p a:visited {
  color: none;
}

/* general styles */
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.toUpper {
  text-transform: uppercase;
}

main, .canvas, .partsContainer, .earsBin, .body, .eyesOnFace, .leftEarOnBody, .rightEarOnBody, .hatOnBody, .noseOnBody, .mouthOnBody, .mouth, .shoesOnBody, .hat, .hatsBin, .noseBin, .mouthBin, .eyesBin, .shoesBin, .shoe, .mouthPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.draggable-mirror {
  z-index: 1;
}

.mouthPiece {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* main styles */
main {
  height: calc(100vh);
}

.canvas, .availableParts {
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.canvas {
  width: 100%;
  position: relative;
}

.availableParts {
  width: 0%;
}

.openToolBox {
  width: 50%;
}

/* CANVAS styles */
.canvas {
  position: relative;
  background-image: url(../assets/backdrop.jpg);
  background-position-y: 80%;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas .test {
  top: 5%;
  left: 5%;
}

.canvas .toolbox {
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 3rem;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.canvas .toolbox input[type="checkbox"] {
  /* This is much better than display none*/
  opacity: 0;
  position: fixed;
  width: 0;
}

.canvas .toolbox :active, .canvas .toolbox:hover {
  background-color: black;
  color: white;
  scale: 1.1;
}

.hide {
  display: none;
}

.dropzone:hover, .dropzone:focus {
  background-color: lightgrey;
}

.body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: var(--base-width);
  height: var(--base-height);
  background-color: #db8336;
  position: absolute;
  top: calc(50% - (var(--base-width) / 2));
  border-radius: 50% 50% 50% 50%/80% 80% 25% 25%;
  /*ORIGINAL border-radius: 50% 50% 50% 50%/60% 60% 40% 40%; */
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  /* max-width: 310px;
    max-height: 390px; */
  /* arms styles  */
  /* body part dropzone styles  */
}

.body .correct {
  background-color: lightgreen;
}

.body .transparentBG {
  background-color: transparent;
}

.body .arms {
  position: absolute;
  width: calc(0.35 * var(--base-width));
  height: auto;
  top: calc(0.6 * var(--base-height));
}

.body .leftArm {
  left: calc(-0.8 * calc(0.35 * var(--base-width)));
}

@-webkit-keyframes wave {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  65% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  70% {
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  75% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  65% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  70% {
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  75% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.body .rightArm {
  right: calc(-0.8 * calc(0.35 * var(--base-width)));
  -webkit-animation: wave 4s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
          animation: wave 4s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

@-webkit-keyframes idle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes idle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.body .leftArm {
  -webkit-animation: idle 4s ease-out infinite;
          animation: idle 4s ease-out infinite;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.body .hatOnBody, .body .eyesOnFace, .body .noseOnBody, .body .mouthOnBody, .body .shoesOnBody, .body .leftEarOnBody, .body .rightEarOnBody, .body .leftShoeOnBody, .body .rightShoeOnBody {
  position: absolute;
}

.body .hatOnBody {
  top: calc(-0.2 * var(--base-height));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .eyesOnFace {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc( calc(0.394 * var(--base-width)) + 10px);
  top: calc(0.15 * var(--base-height));
}

.body .rightEarOnBody {
  top: calc(0.2 * var(--base-height));
  left: 85%;
}

.body .leftEarOnBody {
  top: calc(0.2 * var(--base-height));
  right: 85%;
}

.body .noseOnBody {
  top: calc(0.41 * var(--base-height));
  z-index: 2;
}

.body .mouthOnBody {
  top: calc(0.67 * var(--base-height));
}

.body .leftShoeOnBody, .body .rightShoeOnBody {
  top: calc(0.95 * var(--base-height));
}

.body .leftShoeOnBody {
  left: 10%;
}

.body .rightShoeOnBody {
  right: 10%;
}

.body .dropzone {
  background-color: none;
}

.eye, .hat, .nose, .mouth, .shoe, .ear {
  position: relative;
}

/* SPACE  this class acts as an invisble space for other parts to swap with. WITHOUT IT SWAPPABLE CANNOT WORK */
.clearPart {
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* EYES  */
.eye {
  width: calc( calc(0.24 * var(--base-width)) + 10px);
  height: calc( calc(0.394 * var(--base-width)) + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.curvedBrow, .eyelash {
  width: calc(0.34 * var(--base-width));
  height: calc(0.2 * var(--base-width));
  background-color: transparent;
  position: absolute;
  top: calc(50% - (calc(0.34 * var(--base-width)) / 2));
  border-radius: 50%;
  left: -9%;
  top: 0;
  border: calc(0.05 * var(--base-width)) solid #272727;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.curvedBrow {
  left: 50%;
  margin-left: calc(-0.72 * calc(0.24 * var(--base-width)));
}

@-webkit-keyframes eyelashBlink {
  0% {
    top: 30%;
  }
  80% {
    top: 30%;
  }
  90% {
    top: 85%;
  }
  100% {
    top: 30%;
  }
}

@keyframes eyelashBlink {
  0% {
    top: 30%;
  }
  80% {
    top: 30%;
  }
  90% {
    top: 85%;
  }
  100% {
    top: 30%;
  }
}

.eyelashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30%;
  left: 37%;
  margin-left: calc(-0.5 * calc(0.24 * var(--base-width)));
  width: calc(0.24 * var(--base-width));
  -webkit-animation: eyelashBlink 4s ease-in-out infinite;
          animation: eyelashBlink 4s ease-in-out infinite;
}

.eyelash {
  width: calc(0.1 * var(--base-width));
  height: calc(0.1 * var(--base-width));
  position: static;
  border-top: calc(0.02 * var(--base-width)) solid #272727;
  z-index: 20;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  position: absolute;
}

.el1 {
  left: 0;
}

.el2 {
  left: 25%;
}

.el3 {
  left: 50%;
}

.rightEye .normalEye .eyelashes {
  left: 69%;
}

.rightEye .normalEye .eyelashes .eyelash {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.eyeBrowAngledLeft {
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}

.eyeBrowAngledRight {
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}

.eyeBrow {
  width: calc(0.24 * var(--base-width));
  height: calc(0.064 * var(--base-width));
  background-color: #272727;
  position: absolute;
  top: calc(50% - (calc(0.24 * var(--base-width)) / 2));
  border-radius: 5px;
  top: 0;
  left: 50%;
  margin-left: calc(-0.5 * calc(0.24 * var(--base-width)));
}

@-webkit-keyframes blinking {
  0% {
    top: -100%;
  }
  80% {
    top: -100%;
  }
  90% {
    top: -17%;
  }
  100% {
    top: -100%;
  }
}

@keyframes blinking {
  0% {
    top: -100%;
  }
  80% {
    top: -100%;
  }
  90% {
    top: -17%;
  }
  100% {
    top: -100%;
  }
}

.eyeLid {
  width: calc(0.24 * var(--base-width));
  height: calc(0.394 * var(--base-width));
  background-color: var(--preview-primary-eyes);
  position: absolute;
  top: calc(50% - (calc(0.24 * var(--base-width)) / 2));
  top: -100%;
  -webkit-animation: blinking 4s ease-in-out infinite;
          animation: blinking 4s ease-in-out infinite;
  left: 50%;
  margin-left: calc(-0.5 * calc(0.24 * var(--base-width)));
}

.eyeShape {
  width: calc(0.24 * var(--base-width));
  height: calc(0.33 * var(--base-width));
  background-color: white;
  position: absolute;
  top: calc(50% - (calc(0.24 * var(--base-width)) / 2));
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: calc(-0.5 * calc(0.24 * var(--base-width)));
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.pupil {
  width: calc(0.3 * calc(0.24 * var(--base-width)));
  height: calc(0.4 * calc(0.24 * var(--base-width)));
  background-color: var(--preview-accent-eyes);
  position: absolute;
  top: calc(50% - (calc(0.3 * calc(0.24 * var(--base-width))) / 2));
  border-radius: 50%;
  top: 33%;
  left: 36%;
}

.angledLeft::before {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.angledRight::before {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

/* HATS  container*/
.hat {
  width: calc(calc(0.8 * var(--base-width)) + 10px);
  height: calc(calc(0.4 * var(--base-width)) + 10px);
}

/* HATS  */
.flowerHatBase {
  width: calc(0.8 * var(--base-width));
  height: calc(0.4 * var(--base-width));
  background-color: var(--preview-primary-hats);
  position: absolute;
  top: calc(50% - (calc(0.8 * var(--base-width)) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  top: 0;
  margin-left: 5px;
  border-radius: calc(1.2 * calc(0.4 * var(--base-width))) calc(1.2 * calc(0.4 * var(--base-width))) 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes swirl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swirl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flower {
  width: calc(0.4 * calc(0.33 * var(--base-width)));
  height: calc(0.4 * calc(0.33 * var(--base-width)));
  background-color: var(--default-primary-nose);
  position: absolute;
  top: calc(50% - (calc(0.4 * calc(0.33 * var(--base-width))) / 2));
  border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: calc(0.05 * var(--base-width)) calc(0.056 * var(--base-width)) var(--preview-accent-hats), calc(-0.05 * var(--base-width)) calc(0.056 * var(--base-width)) var(--preview-accent-hats), calc(-0.073 * var(--base-width)) calc(-0.023 * var(--base-width)) var(--preview-accent-hats), 0 calc(-0.073 * var(--base-width)) var(--preview-accent-hats), calc(0.073 * var(--base-width)) calc(-0.023 * var(--base-width)) var(--preview-accent-hats);
          box-shadow: calc(0.05 * var(--base-width)) calc(0.056 * var(--base-width)) var(--preview-accent-hats), calc(-0.05 * var(--base-width)) calc(0.056 * var(--base-width)) var(--preview-accent-hats), calc(-0.073 * var(--base-width)) calc(-0.023 * var(--base-width)) var(--preview-accent-hats), 0 calc(-0.073 * var(--base-width)) var(--preview-accent-hats), calc(0.073 * var(--base-width)) calc(-0.023 * var(--base-width)) var(--preview-accent-hats);
  -webkit-animation: swirl 12s infinite linear;
          animation: swirl 12s infinite linear;
}

.bowlerHat {
  width: calc(0.6 * var(--base-width));
  height: calc(0.35 * var(--base-width));
  background-color: var(--preview-primary-hats);
  position: absolute;
  top: calc(50% - (calc(0.6 * var(--base-width)) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  top: 0;
  left: 0;
  border-bottom: calc(0.1 * var(--base-width)) solid var(--preview-accent-hats);
  margin-left: calc((calc(calc(0.8 * var(--base-width)) + 10px) - calc(0.6 * var(--base-width))) / 2);
}

.bowlerHat:after {
  content: '';
  width: calc(0.8 * var(--base-width));
  height: calc(0.1 * var(--base-width));
  background-color: var(--preview-primary-hats);
  position: absolute;
  top: calc(50% - (calc(0.8 * var(--base-width)) / 2));
  left: 0;
  top: 120%;
  margin-left: calc((calc(0.8 * var(--base-width)) - calc(0.6 * var(--base-width))) / -2);
  border-radius: 50% 50% / 0% 0% 60% 60%;
}

/* NOSE container  */
.nose {
  width: calc(calc(0.4 * var(--base-width)) + 10px);
  height: calc(calc(0.35 * var(--base-width)) + 10px);
}

/* NOSES */
.nose1 {
  width: calc(0.2 * var(--base-width));
  height: calc(0.33 * var(--base-width));
  background-color: var(--preview-primary-nose);
  position: absolute;
  top: calc(50% - (calc(0.2 * var(--base-width)) / 2));
  border-radius: 50%;
  top: 5px;
  left: 0;
  margin-left: calc((calc(calc(0.4 * var(--base-width)) + 10px) - calc(0.2 * var(--base-width))) / 2);
  position: relative;
}

.nose1::before {
  content: '';
  width: calc(0.15 * var(--base-width));
  height: calc(0.6 * calc(0.33 * var(--base-width)));
  background-color: var(--preview-primary-nose);
  position: absolute;
  top: calc(50% - (calc(0.15 * var(--base-width)) / 2));
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38%;
  left: -30%;
}

.nose1::after {
  content: '';
  width: calc(0.15 * var(--base-width));
  height: calc(0.6 * calc(0.33 * var(--base-width)));
  background-color: var(--preview-primary-nose);
  position: absolute;
  top: calc(50% - (calc(0.15 * var(--base-width)) / 2));
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 38%;
  left: 50%;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  85% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  95% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  85% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  95% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.moustache {
  width: calc(0.6 * var(--base-width));
  height: calc(0.19 * var(--base-width));
  background-color: var(--preview-accent-nose);
  position: absolute;
  top: calc(50% - (calc(0.6 * var(--base-width)) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  top: 66%;
  left: 50%;
  border-radius: 50% 50% 15px 15px;
  margin-left: calc(-0.5 * calc(0.6 * var(--base-width)));
  -webkit-animation: wiggle 4s ease-in-out infinite;
          animation: wiggle 4s ease-in-out infinite;
}

/* EARS container */
.ear {
  width: calc(calc(0.27 * var(--base-width)) + 10px);
  height: calc(calc(0.35 * var(--base-width)) + 10px);
}

/* EARS */
.leftEar1, .rightEar1, .leftEar2, .rightEar2 {
  width: calc(0.27 * var(--base-width));
  height: calc(0.35 * var(--base-width));
  background-color: var(--preview-primary-ears);
  position: absolute;
  top: calc(50% - (calc(0.27 * var(--base-width)) / 2));
  border-radius: 50%;
  top: 5px;
  left: 0;
  margin-left: calc((calc(calc(0.27 * var(--base-width)) + 10px) - calc(0.27 * var(--base-width))) / 2);
}

.leftEar1::before, .leftEar2::before {
  content: '';
  width: calc(0.8 * calc(0.27 * var(--base-width)));
  height: calc(0.8 * calc(0.35 * var(--base-width)));
  background-color: var(--preview-primary-ears);
  position: absolute;
  top: calc(50% - (calc(0.8 * calc(0.27 * var(--base-width))) / 2));
  border-radius: 50%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  top: 13%;
  left: 12%;
}

.rightEar1::before, .rightEar2::before {
  content: '';
  width: calc(0.8 * calc(0.27 * var(--base-width)));
  height: calc(0.8 * calc(0.35 * var(--base-width)));
  background-color: var(--preview-primary-ears);
  position: absolute;
  top: calc(50% - (calc(0.8 * calc(0.27 * var(--base-width))) / 2));
  border-radius: 50%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  top: 13%;
  left: 8%;
}

.leftEar2::after {
  content: '';
  width: calc(0.4 * calc(0.27 * var(--base-width)));
  height: calc(0.4 * calc(0.27 * var(--base-width)));
  background-color: var(--preview-accent-ears);
  position: absolute;
  top: calc(50% - (calc(0.4 * calc(0.27 * var(--base-width))) / 2));
  border-radius: 50%;
  top: 70%;
  left: 30%;
}

.rightEar2::after {
  content: '';
  width: calc(0.4 * calc(0.27 * var(--base-width)));
  height: calc(0.4 * calc(0.27 * var(--base-width)));
  background-color: var(--preview-accent-ears);
  position: absolute;
  top: calc(50% - (calc(0.4 * calc(0.27 * var(--base-width))) / 2));
  border-radius: 50%;
  top: 70%;
  right: 30%;
}

/* MOUTH container  */
.mouth {
  width: calc(0.85 * var(--base-width));
  height: calc(0.4 * var(--base-width));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loudMouth {
  width: calc(0.6 * var(--base-width));
  height: calc(0.25 * var(--base-width));
  background-color: var(--preview-primary-mouth);
  position: absolute;
  top: calc(50% - (calc(0.6 * var(--base-width)) / 2));
  -webkit-transform: perspective(8px) rotateX(4deg);
          transform: perspective(8px) rotateX(4deg);
  border-radius: 30%;
  top: 10%;
}

@-webkit-keyframes talking {
  0% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  50% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  75% {
    border-top: calc(0.16 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.19 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  100% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
}

@keyframes talking {
  0% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  50% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  75% {
    border-top: calc(0.16 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.19 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
  100% {
    border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
    border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  }
}

.loudMouth::after {
  content: '';
  width: calc(0.85 * calc(0.6 * var(--base-width)));
  height: calc(0.32 * calc(0.6 * var(--base-width)));
  background-color: black;
  position: absolute;
  top: calc(50% - (calc(0.85 * calc(0.6 * var(--base-width))) / 2));
  top: 15%;
  left: calc(50% - (calc(0.85 * calc(0.6 * var(--base-width)))));
  margin-left: calc(0.5 * 0.85 * calc(0.6 * var(--base-width)));
  background-color: black;
  border-top: calc(0.12 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  border-bottom: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-accent-mouth);
  border-radius: 27%;
  -webkit-animation: talking 0.5s ease-in-out infinite;
          animation: talking 0.5s ease-in-out infinite;
}

@-webkit-keyframes mouthMove {
  0% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
  50% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
  75% {
    width: calc(0.8 * var(--base-width));
    height: calc(0.2 * var(--base-width));
  }
  100% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
}

@keyframes mouthMove {
  0% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
  50% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
  75% {
    width: calc(0.8 * var(--base-width));
    height: calc(0.2 * var(--base-width));
  }
  100% {
    width: calc(0.6 * var(--base-width));
    height: calc(0.25 * var(--base-width));
  }
}

.smileWithTeeth, .frownWithTeeth {
  width: calc(0.6 * var(--base-width));
  height: calc(0.25 * var(--base-width));
  background-color: var(--preview-accent-mouth);
  position: absolute;
  top: calc(50% - (calc(0.6 * var(--base-width)) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: calc(0.07 * calc(0.6 * var(--base-width))) solid var(--preview-primary-mouth);
  top: 10%;
  border-bottom-left-radius: 13%;
  border-bottom-right-radius: 13%;
  -webkit-animation: mouthMove 6s ease-in-out infinite;
          animation: mouthMove 6s ease-in-out infinite;
}

.frownWithTeeth {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* SHOES  container*/
.shoe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(0.4 * var(--base-width));
  height: calc(0.25 * var(--base-width));
}

/* SHOES */
.runningShoe, .basketballShoe {
  width: calc(0.35 * var(--base-width));
  height: calc(0.25 * var(--base-width));
  background-color: var(--preview-primary-shoes);
  position: absolute;
  top: calc(50% - (calc(0.35 * var(--base-width)) / 2));
  position: static;
  -webkit-transform: perspective(8px) rotateX(4deg);
          transform: perspective(8px) rotateX(4deg);
  border-radius: 27% 27% 47% 47%;
  border-bottom: 4px solid var(--preview-accent-shoes);
}

.runningShoe::before {
  content: "";
  width: calc(0.5 * calc(0.35 * var(--base-width)));
  height: calc(0.12 * calc(0.25 * var(--base-width)));
  background-color: var(--preview-accent-shoes);
  position: absolute;
  top: calc(50% - (calc(0.5 * calc(0.35 * var(--base-width))) / 2));
  top: 20%;
  left: calc(0.25 * calc(0.35 * var(--base-width)));
  border-radius: 9px;
}

.runningShoe::after {
  content: "";
  width: calc(0.5 * calc(0.35 * var(--base-width)));
  height: calc(0.12 * calc(0.25 * var(--base-width)));
  background-color: var(--preview-accent-shoes);
  position: absolute;
  top: calc(50% - (calc(0.5 * calc(0.35 * var(--base-width))) / 2));
  top: 60%;
  left: calc(0.25 * calc(0.35 * var(--base-width)));
  border-radius: 9px;
}

.basketballShoe::after {
  content: "";
  width: calc(0.5 * calc(0.35 * var(--base-width)));
  height: calc(0.12 * calc(0.25 * var(--base-width)));
  background-color: var(--preview-accent-shoes);
  position: absolute;
  top: calc(50% - (calc(0.5 * calc(0.35 * var(--base-width))) / 2));
  top: 38%;
  left: calc(0.25 * calc(0.35 * var(--base-width)));
  border-radius: 9px;
  border: calc(0.1 * calc(0.35 * var(--base-width))) solid var(--preview-accent-shoes);
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: calc(0.5 * calc(0.35 * var(--base-width)));
  height: calc(0.4 * calc(0.35 * var(--base-width)));
  background-color: var(--preview-accent-shoes);
}

/* PARTS styles */
.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10%;
  height: 80%;
}

.availableParts {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../assets/wood-pattern.png);
  background-repeat: repeat;
  background-color: #d1a558;
}

.availableParts .partsContainer {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.availableParts .partsContainer .dropzone {
  background-color: lightgrey;
}

.availableParts .partsContainer .currentPart {
  background-image: url(../assets/wood-pattern-horizontal.png);
  background-color: #a6842e;
  background-repeat: repeat;
  -webkit-box-shadow: inset 0px 0px 63px 9px #000000;
  box-shadow: inset 0px 0px 63px 9px #000;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.availableParts .partsContainer .currentPart h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.availableParts .partsContainer .currentPart .partBin {
  width: 90%;
  height: 90%;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.availableParts .partsContainer .hatsBin, .availableParts .partsContainer .eyesBin, .availableParts .partsContainer .mouthBin, .availableParts .partsContainer .noseBin, .availableParts .partsContainer .earsBin {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}

.paintPrimary {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 0 0 1px black inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 black, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px black inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 black, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.paintAccent {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0 0 0 1px white inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 white, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px white inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 white, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

/* BRAND NEW MENU START */
/* JUST CENETERING */
.partCustomizer, .partPicker, .primaryColor, .secondaryColor, .next, .previous, .currentPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paintButton {
  font-size: 2.5rem;
}

.next, .previous {
  font-size: 3rem;
}

.hslColors, .defaultColor, .undo, .setColor, .accent {
  font-size: 2rem;
}

.hslColors img {
  -webkit-animation: swirl 6s infinite linear;
          animation: swirl 6s infinite linear;
}

button {
  /*This styling was created by FELIPE MARCOS from this codepen: https://codepen.io/FelipeMarcos/pen/tfhEg*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 6px;
  text-align: center;
  -webkit-transition: top .01s linear;
  transition: top .01s linear;
  white-space: nowrap;
  text-decoration: none;
  background-color: #e74c3c;
  -webkit-box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

button:active {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  -webkit-box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.disabled {
  background-color: grey;
  -webkit-box-shadow: 0 0 0 1px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 grey, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px grey inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 grey, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  cursor: not-allowed;
}

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
}

.menuContainer .previous, .menuContainer .next {
  width: 25%;
}

.menuContainer .previous button, .menuContainer .next button {
  width: 50px;
  height: 50px;
}

.menuContainer .partPainter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuContainer .partPainter .partCustomizer {
  height: 100%;
  width: 100%;
}

.menuContainer .partPainter .primaryColor {
  margin: 5px;
}

.menuContainer .partPainter .paintButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rainBowBar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 100%;
  height: 25px;
  top: 0;
}

.paintBin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 1fr;
  width: 100%;
  height: 100%;
}

.paintBin .paintOptions {
  margin: 10px;
  width: calc(0.275 * var(--base-width));
  height: calc(0.275 * var(--base-width));
  padding: 0;
}

.paintBin .hslField {
  margin: auto;
  width: 90%;
  color: white;
  font-size: 1.5rem;
  -ms-grid-column: span 5;
      grid-column-start: span 5;
}

.paintBin .hslField .hueBar {
  position: relative;
}

.paintBin .hslField input {
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 7px;
  outline: none;
}

.paintBin .hslField input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--current-hue);
  cursor: pointer;
}

.paintBin .hslField input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--current-hue);
  cursor: pointer;
}

.paintBin .hslField #hslColorValue::-webkit-slider-thumb {
  background-color: var(--current-hue);
}

.paintBin .hslField #hslColorValue::-moz-range-thumb {
  background-color: var(--current-hue);
}

.paintBin .hslField #brightness::-webkit-slider-thumb {
  background-color: var(--current-brightness);
}

.paintBin .hslField #brightness::-moz-range-thumb {
  background-color: var(--current-brightness);
}

.paintBin .hslField #saturation::-webkit-slider-thumb {
  background-color: var(--current-saturation);
}

.paintBin .hslField #saturation::-moz-range-thumb {
  background-color: var(--current-saturation);
}

.paintBin #black {
  background-color: black;
}

.paintBin #grey {
  background-color: grey;
}

.paintBin #white {
  background-color: white;
}

.paintBin #red {
  background-color: #ff0000;
}

.paintBin #brown {
  background-color: #b06523;
}

.paintBin #orange {
  background-color: #ff7f00;
}

.paintBin #yellow {
  background-color: #ffff00;
}

.paintBin #chartGreen {
  background-color: #7fff00;
}

.paintBin #green {
  background-color: #00ff00;
}

.paintBin #springGreen {
  background-color: #00ff7f;
}

.paintBin #cyan {
  background-color: #00ffff;
}

.paintBin #azure {
  background-color: #007fff;
}

.paintBin #blue {
  background-color: #0000ff;
}

.paintBin #violet {
  background-color: #7f00ff;
}

.paintBin #magenta {
  background-color: #ff00ff;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  :root {
    --base-width: 38.88vw;
    --base-height: 54.72vw;
  }
  .paintOptions {
    min-width: 25px;
    min-height: 25px;
    max-width: 37.05px;
    max-height: 37.05px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .canvas, main .availableParts {
    width: 100%;
  }
  main .canvas {
    background-position-y: 130%;
    background-repeat: repeat;
  }
  main .canvas {
    height: 100%;
  }
  main .availableParts {
    height: 0%;
  }
  main .openToolBox {
    height: 50%;
  }
}
