/* original values WIDTH: 27vw HEIGHT: 38vw  */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* general styles */
* {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.toUpper {
  text-transform: uppercase;
}

main, .canvas, .partsContainer, .earsBin, .body, .eyesOnFace, .leftEarOnBody, .rightEarOnBody, .hatOnBody, .noseOnBody, .mouthOnBody, .mouth, .shoesOnBody, .hat, .hatsBin, .noseBin, .mouthBin, .eyesBin, .shoesBin, .shoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* header styles */
header h1 {
  font-size: 2rem;
  text-align: center;
}

/* main styles */
main {
  height: calc(100vh - 20px);
}

.dropzone {
  background-color: lightgrey;
}

.dropzone:hover {
  background-color: green;
}

.canvas, .availableParts {
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.canvas {
  width: 100%;
}

.availableParts {
  width: 0%;
}

.openToolBox {
  width: 50%;
}

/* CANVAS styles */
.canvas {
  position: relative;
  background-image: url(../assets/backdrop.jpg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas .toolbox {
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 3rem;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.canvas .toolbox input[type="checkbox"] {
  /* This is much better than display none*/
  opacity: 0;
  position: fixed;
  width: 0;
}

.canvas .toolbox :active, .canvas .toolbox:hover {
  background-color: black;
  color: white;
  scale: 1.1;
}

.hide {
  display: none;
}

.body {
  width: 21.6vw;
  height: 30.4vw;
  background-color: #db8336;
  position: absolute;
  top: calc(50% - (21.6vw / 2));
  border-radius: 50% 50% 50% 50%/80% 80% 25% 25%;
  /*ORIGINAL border-radius: 50% 50% 50% 50%/60% 60% 40% 40%; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  /* max-width: 310px;
    max-height: 390px; */
  /* arms styles  */
  /* body part dropzone styles  */
}

.body .dropzone {
  background-color: transparent;
}

.body .dropzone:hover, .body .dropzone:focus {
  background-color: lightgreen;
}

.body .arms {
  position: absolute;
  width: calc(0.35 * 21.6vw);
  height: auto;
  top: calc(0.6 * 30.4vw);
}

.body .leftArm {
  left: calc(-0.8 * calc(0.35 * 21.6vw));
}

.body .rightArm {
  right: calc(-0.8 * calc(0.35 * 21.6vw));
}

.body .hatOnBody, .body .eyesOnFace, .body .noseOnBody, .body .mouthOnBody, .body .shoesOnBody, .body .leftEarOnBody, .body .rightEarOnBody, .body .leftShoeOnBody, .body .rightShoeOnBody {
  position: absolute;
}

.body .hatOnBody {
  top: calc(-0.2 * 30.4vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .eyesOnFace {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc( calc(0.33 * 21.6vw) + 10px);
  top: calc(0.2 * 30.4vw);
}

.body .rightEarOnBody {
  top: calc(0.2 * 30.4vw);
  left: 85%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.body .leftEarOnBody {
  top: calc(0.2 * 30.4vw);
  right: 85%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.body .noseOnBody {
  top: calc(0.41 * 30.4vw);
}

.body .mouthOnBody {
  top: calc(0.67 * 30.4vw);
}

.body .leftShoeOnBody, .body .rightShoeOnBody {
  top: calc(0.95 * 30.4vw);
}

.body .leftShoeOnBody {
  left: 10%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

.body .rightShoeOnBody {
  right: 10%;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.body .dropzone {
  background-color: none;
}

.eye, .hat, .nose, .mouth, .shoe, .ear {
  position: relative;
}

/* SPACE  this class acts as an invisble space for other parts to swap with. WITHOUT IT SWAPPABLE CANNOT WORK */
.clearPart {
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* EYES  */
.eye {
  width: calc( calc(0.24 * 21.6vw) + 10px);
  height: calc( calc(0.33 * 21.6vw) + 10px);
}

.eyes1 {
  width: calc(0.24 * 21.6vw);
  height: calc(0.33 * 21.6vw);
  background-color: white;
  position: absolute;
  top: calc(50% - (calc(0.24 * 21.6vw) / 2));
  border-radius: 50%;
  top: 5px;
  left: 5px;
  border-top: 12px solid #b06523;
}

.eyes1:after {
  content: '';
  width: calc(0.3 * calc(0.24 * 21.6vw));
  height: calc(0.4 * calc(0.24 * 21.6vw));
  background-color: #272727;
  position: absolute;
  top: calc(50% - (calc(0.3 * calc(0.24 * 21.6vw)) / 2));
  border-radius: 50%;
  top: 33%;
  left: 36%;
}

.eyes1:before {
  content: '';
  width: calc(0.24 * 21.6vw);
  height: calc(0.3 * calc(0.24 * 21.6vw));
  background-color: #272727;
  position: absolute;
  top: calc(50% - (calc(0.24 * 21.6vw) / 2));
  top: -65%;
  left: 0;
  border-radius: 5px;
}

.angledLeft::before {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.angledRight::before {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

/* HATS  container*/
.hat {
  width: calc(calc(0.8 * 21.6vw) + 10px);
  height: calc(calc(0.4 * 21.6vw) + 10px);
}

/* HATS  */
.bowlerHat {
  width: calc(0.6 * 21.6vw);
  height: calc(0.35 * 21.6vw);
  background-color: #3d3d3d;
  position: absolute;
  top: calc(50% - (calc(0.6 * 21.6vw) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  top: 0;
  left: 0;
  border-bottom: calc(0.1 * 21.6vw) solid grey;
  margin-left: calc((calc(calc(0.8 * 21.6vw) + 10px) - calc(0.6 * 21.6vw)) / 2);
}

.bowlerHat:after {
  content: '';
  width: calc(0.8 * 21.6vw);
  height: calc(0.1 * 21.6vw);
  background-color: #3d3d3d;
  position: absolute;
  top: calc(50% - (calc(0.8 * 21.6vw) / 2));
  left: 0;
  top: 120%;
  margin-left: calc((calc(0.8 * 21.6vw) - calc(0.6 * 21.6vw)) / -2);
  border-radius: 50% 50% / 0% 0% 60% 60%;
}

/* NOSE container  */
.nose {
  width: calc(calc(0.4 * 21.6vw) + 10px);
  height: calc(calc(0.35 * 21.6vw) + 10px);
}

/* NOSES */
.nose1 {
  width: calc(0.2 * 21.6vw);
  height: calc(0.33 * 21.6vw);
  background-color: #ff8c1a;
  position: absolute;
  top: calc(50% - (calc(0.2 * 21.6vw) / 2));
  border-radius: 50%;
  top: 5px;
  left: 0;
  margin-left: calc((calc(calc(0.4 * 21.6vw) + 10px) - calc(0.2 * 21.6vw)) / 2);
}

.nose1::before {
  content: '';
  width: calc(0.15 * 21.6vw);
  height: calc(0.6 * calc(0.33 * 21.6vw));
  background-color: #ff8c1a;
  position: absolute;
  top: calc(50% - (calc(0.15 * 21.6vw) / 2));
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38%;
  left: -30%;
}

.nose1::after {
  content: '';
  width: calc(0.15 * 21.6vw);
  height: calc(0.6 * calc(0.33 * 21.6vw));
  background-color: #ff8c1a;
  position: absolute;
  top: calc(50% - (calc(0.15 * 21.6vw) / 2));
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 38%;
  left: 50%;
}

/* EARS container */
.ear {
  width: calc(calc(0.27 * 21.6vw) + 10px);
  height: calc(calc(0.35 * 21.6vw) + 10px);
}

/* EARS */
.leftEar1, .rightEar1, .leftEar2, .rightEar2 {
  width: calc(0.27 * 21.6vw);
  height: calc(0.35 * 21.6vw);
  background-color: pink;
  position: absolute;
  top: calc(50% - (calc(0.27 * 21.6vw) / 2));
  border-radius: 50%;
  top: 5px;
  left: 0;
  margin-left: calc((calc(calc(0.27 * 21.6vw) + 10px) - calc(0.27 * 21.6vw)) / 2);
}

.leftEar1::before, .leftEar2::before {
  content: '';
  width: calc(0.8 * calc(0.27 * 21.6vw));
  height: calc(0.8 * calc(0.35 * 21.6vw));
  background-color: salmon;
  position: absolute;
  top: calc(50% - (calc(0.8 * calc(0.27 * 21.6vw)) / 2));
  border-radius: 50%;
  top: 13%;
  left: 12%;
}

.rightEar1::before, .rightEar2::before {
  content: '';
  width: calc(0.8 * calc(0.27 * 21.6vw));
  height: calc(0.8 * calc(0.35 * 21.6vw));
  background-color: salmon;
  position: absolute;
  top: calc(50% - (calc(0.8 * calc(0.27 * 21.6vw)) / 2));
  border-radius: 50%;
  top: 13%;
  left: 8%;
}

.leftEar2::after {
  content: '';
  width: calc(0.4 * calc(0.27 * 21.6vw));
  height: calc(0.4 * calc(0.27 * 21.6vw));
  background-color: yellow;
  position: absolute;
  top: calc(50% - (calc(0.4 * calc(0.27 * 21.6vw)) / 2));
  border-radius: 50%;
  top: 70%;
  left: 30%;
}

.rightEar2::after {
  content: '';
  width: calc(0.4 * calc(0.27 * 21.6vw));
  height: calc(0.4 * calc(0.27 * 21.6vw));
  background-color: yellow;
  position: absolute;
  top: calc(50% - (calc(0.4 * calc(0.27 * 21.6vw)) / 2));
  border-radius: 50%;
  top: 70%;
  right: 30%;
}

/* MOUTH container  */
.mouth {
  width: calc(0.85 * 21.6vw);
  height: calc(0.4 * 21.6vw);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loudMouth {
  width: calc(0.6 * 21.6vw);
  height: calc(0.25 * 21.6vw);
  background-color: red;
  position: absolute;
  top: calc(50% - (calc(0.6 * 21.6vw) / 2));
  -webkit-transform: perspective(8px) rotateX(4deg);
          transform: perspective(8px) rotateX(4deg);
  border-radius: 30%;
  top: 10%;
}

.loudMouth::after {
  content: '';
  width: calc(0.85 * calc(0.6 * 21.6vw));
  height: calc(0.32 * calc(0.6 * 21.6vw));
  background-color: black;
  position: absolute;
  top: calc(50% - (calc(0.85 * calc(0.6 * 21.6vw)) / 2));
  top: 15%;
  left: calc(50% - (calc(0.85 * calc(0.6 * 21.6vw))));
  margin-left: calc(0.5 * 0.85 * calc(0.6 * 21.6vw));
  background-color: black;
  border-top: 10px solid white;
  border-bottom: 6px solid white;
  border-radius: 27%;
}

.smileWithTeeth, .frownWithTeeth {
  width: calc(0.6 * 21.6vw);
  height: calc(0.25 * 21.6vw);
  background-color: white;
  position: absolute;
  top: calc(50% - (calc(0.6 * 21.6vw) / 2));
  border-radius: 50%;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: calc(0.07 * calc(0.6 * 21.6vw)) solid red;
  top: 10%;
  border-bottom-left-radius: 13%;
  border-bottom-right-radius: 13%;
}

.frownWithTeeth {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* SHOES  container*/
.shoe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(0.4 * 21.6vw);
  height: calc(0.25 * 21.6vw);
}

/* SHOES */
.runningShoe {
  width: calc(0.35 * 21.6vw);
  height: calc(0.25 * 21.6vw);
  background-color: #2d97e5;
  position: absolute;
  top: calc(50% - (calc(0.35 * 21.6vw) / 2));
  top: 0;
  -webkit-transform: perspective(8px) rotateX(4deg);
          transform: perspective(8px) rotateX(4deg);
  border-radius: 27% 27% 42% 47%;
  border-bottom: 4px solid darkblue;
}

.runningShoe::before {
  content: "";
  width: calc(0.5 * calc(0.35 * 21.6vw));
  height: calc(0.12 * calc(0.25 * 21.6vw));
  background-color: #2d97e5;
  position: absolute;
  top: calc(50% - (calc(0.5 * calc(0.35 * 21.6vw)) / 2));
  background-color: darkblue;
  top: 20%;
  left: calc(0.25 * calc(0.35 * 21.6vw));
  border-radius: 9px;
}

.runningShoe::after {
  content: "";
  width: calc(0.5 * calc(0.35 * 21.6vw));
  height: calc(0.12 * calc(0.25 * 21.6vw));
  background-color: #2d97e5;
  position: absolute;
  top: calc(50% - (calc(0.5 * calc(0.35 * 21.6vw)) / 2));
  background-color: darkblue;
  top: 60%;
  left: calc(0.25 * calc(0.35 * 21.6vw));
  border-radius: 9px;
}

/* PARTS styles */
.availableParts {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../assets/wood-pattern.png);
  background-repeat: repeat;
  background-color: #d1a558;
  /* drawer styles */
}

.availableParts .drawer {
  background-image: url(../assets/wood-pattern.png);
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  background-color: black;
}

.availableParts .pulledOut {
  top: 100%;
}

.availableParts .partsContainer {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.availableParts .partsContainer .currentPart {
  background-image: url(../assets/wood-pattern-horizontal.png);
  background-color: #a6842e;
  background-repeat: repeat;
  -webkit-box-shadow: inset 0px 0px 63px 9px #000000;
  box-shadow: inset 0px 0px 63px 9px #000;
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.availableParts .partsContainer .currentPart .paintBin {
  background-color: blue;
}

.availableParts .partsContainer .currentPart .partBin {
  width: 90%;
  height: 90%;
  overflow: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.availableParts .partsContainer .hatsBin, .availableParts .partsContainer .eyesBin, .availableParts .partsContainer .mouthBin, .availableParts .partsContainer .noseBin, .availableParts .partsContainer .earsBin {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

/* BRAND NEW MENU START */
/* JUST CENETERING */
.partCustomizer, .partPicker, .primaryColor, .secondaryColor, .next, .previous, .currentPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  /*This styling was created by FELIPE MARCOS from this codepen: https://codepen.io/FelipeMarcos/pen/tfhEg*/
  display: inline-block;
  color: white;
  border-radius: 6px;
  text-align: center;
  -webkit-transition: top .01s linear;
  transition: top .01s linear;
  white-space: nowrap;
  text-decoration: none;
  background-color: #e74c3c;
  -webkit-box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

button:active {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  -webkit-box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
  /* parts GUI end */
}

.menuContainer .previous, .menuContainer .next {
  width: 25%;
}

.menuContainer .previous button, .menuContainer .next button {
  width: 50px;
  height: 50px;
}

.menuContainer .partGUI {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* partsCustomizer end */
}

.menuContainer .partGUI .partCustomizer {
  height: 100%;
  width: 100%;
}

.menuContainer .partGUI .partCustomizer {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menuContainer .partGUI .partCustomizer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuContainer .partGUI .partCustomizer li .partPicker, .menuContainer .partGUI .partCustomizer li .primaryColor, .menuContainer .partGUI .partCustomizer li .secondaryColor {
  margin: 5px;
}

.menuContainer .partGUI .partCustomizer li .partPicker {
  width: calc(0.6 * 21.6vw);
  height: calc(0.3 * 21.6vw);
  max-width: 60px;
  max-height: 35px;
}

.menuContainer .partGUI .partCustomizer li .primaryColor, .menuContainer .partGUI .partCustomizer li .secondaryColor {
  width: calc(0.23 * 21.6vw);
  height: calc(0.23 * 21.6vw);
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
}

.paintBin {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.paintBin .colorPalette input[type="radio"] {
  /* dont put display none or else not focusable */
  opacity: 0;
  position: fixed;
  width: 0;
}

.paintBin .colorPalette label, .paintBin .colorPalette button {
  height: 35px;
  width: calc(25% - 10px);
  margin: 5px;
}

.paintBin .brightness {
  color: yellow;
  background-color: grey;
}

.paintBin #black {
  background-color: black;
}

.paintBin #white {
  background-color: white;
}

.paintBin #red {
  background-color: #ff0000;
}

.paintBin #brown {
  background-color: brown;
}

.paintBin #orange {
  background-color: #ff7f00;
}

.paintBin #yellow {
  background-color: #ffff00;
}

.paintBin #chartreuseGreen {
  background-color: #7fff00;
}

.paintBin #green {
  background-color: #00ff00;
}

.paintBin #springGreen {
  background-color: #00ff7f;
}

.paintBin #cyan {
  background-color: #00ffff;
}

.paintBin #azure {
  background-color: #007fff;
}

.paintBin #blue {
  background-color: #0000ff;
}

.paintBin #violet {
  background-color: #7f00ff;
}

.paintBin #magenta {
  background-color: #ff00ff;
}

.paintBin #rose {
  background-color: #ff007f;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .canvas, main .availableParts {
    width: 100%;
  }
  main .canvas {
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
